<div id="<%= dom_id problem %>">
  <p>
    <strong>Title:</strong>
    <%= problem.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= problem.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= problem.tags %>
  </p>

  <p>
    <strong>User:</strong>
    <%= problem.user_id %>
  </p>

  <p>
    <strong>Solved:</strong>
    <%= problem.solved %>
  </p>

</div>
